* {
    font-family: 'Oswald', sans-serif;
}

body {
    /*    background-color: #e0e0e0;*/
    min-height: 100vh;
}

.center {
    margin: 0 auto;
    width: 150px;
}

header {
    margin: 5px 0 20px;
}

#cover {
    padding-bottom: 10px;
}

.editorWrapper {
    margin-bottom: 10px;
    border: 1px dashed blue;
    box-shadow: 0px 0px 10px 2px #6f6f6f;
    padding: 5px 10px;
}

.placeholder {
    color: #777777;
}

.editableTitle {
    margin-bottom: 10px;
}

.editablePara {
    margin-bottom: 10px;
}

.editablePara:focus,
.editableTitle:focus {
    /*Inorder to remove default css*/
    outline: none;
}

.editablePara:nth-child(2) {
    margin-top: 5px;
}

#tooltip {
    width: 75px;
    color: #FFF;
    font-weight: bolder;
    background-color: #000;
    border-radius: 10px;
    padding: 5px 0;
    position: absolute;
    top: 0;
    display: none;
}

#tooltip:after {
    display: block;
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-color: #000;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 80%;
    left: 75%;
}

#tooltip > span {
    padding: 0 7.5px;
    border-right: 1px solid #FFF;
}

#tooltip > span:last-child {
    border: 0;
    color: red;
}

.underline {
    text-decoration: underline;
}

.red {
    color: red;
}

.bold {
    font-weight: bolder;
}

.coverLinks:nth-child(odd) {
    color: red;
}

.coverLinks:nth-child(even) {
    color: blue;
}

#arrngeOn,
#arrngeOff {
    margin: 2px 0;
}

#arrngeOn {
    color: green;
    display: none;
}

#arrngeOff {
    color: red;
}